body {
    font-family: 'Anton', sans-serif;
}

/* navigation bar */
/* 
#navbar-header {
    bottom: 0px;
    height: 116px;
    padding-top: 0px;
    padding-bottom: 0px;
    width: 100%;
    margin-bottom: 0;
} */

.navbar-nav {
    width: 100%;
    padding: 0;
    margin: 0;
}

.nav-item {
    text-transform: uppercase;
    font-size: 180%;
    color: #fafafa;
}

@media screen and (min-width: 990px) {
    .nav-item {
        margin-left: 200px;
    }
}

/*---logo-----*/

#move2improve-logo {
    font-size: 200%;
    text-align: center;
    margin-left: 25px;
    border-bottom: none;
    text-decoration: none;
    color: rgba(20, 69, 20, 0.607);

}

/* hero image front of the page */

#hero-outer {
    height: 75vh;
    width: 100%;
    overflow: hidden;
    position: relative;
}

#hero-image {
    background: url("../images/close-up.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    height: 75vh;
    width: 100%;
}

#cover-text {
    letter-spacing: 0.25rem;
    padding: 2rem;
    background-color: rgba(20, 69, 20, 0.23);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: #fafafa;
    text-transform: uppercase;
}


#center-text {
    position: center;
    margin-top: 15px;
    text-align: center;
}

.subheader-center-text {
    background-color: rgba(20, 69, 20, 0.4);
    height: 25vh;
    text-align: center;
    padding: 75px;

}

.subheader-center-text h2 {
    margin-bottom: 20px;

}



@media screen and (min-width: 990px) {
    .hero-image {
        height: 100vh;
    }
}

/*---symbol section---*/

.symbols-container {
    margin: 0;
    height: 25vh;
    background-color: rgba(100, 82, 179, 0.474);
    padding: 75px;

}

.list-inline-item {
    padding: 18px;
    font-size: 250%;
}

.symbols i {
    font-size: 40px;
}

.symbols p {
    margin-top: 25px;
}

.symbols {
    font-size: 15px;

}

.members-symbol {
    font-size: 35px;
    margin-bottom: 20px;
}

h2 {
    text-decoration: underline;
    text-align: center;
    margin-top: 15px;
}

h4 {
    text-align: center;
}

/*---members-review----*/

.members-review {
    margin: 0;
    height: 25vh;
    background-color: rgba(219, 176, 45, 0.474);
    padding: 75px;
}

/*---footer-----*/

footer {
    background-color: rgba(21, 104, 42, 0.639);
    height: 25vh;
    margin: 0;
    padding: 0;
}

.social-network {
    padding: 20px;
    text-align: center;

}

.contact {
    text-align: center;
    margin-top: 15px;
}

.text-uppercase {
    text-transform: uppercase;
}

/*---map-----*/

#map-wrapper {
    height: 100px;
}

#map {
    height: 100%;
    width: 100%;
}

/*-----p------*/

.members-review p {
    font-size: 125%;
}

.symbols-container p {
    font-size: 125%;
}

.subheader-center-text p {
    font-size: 125%;
}

.contact p {
    font-size: 125%;
}

/* .mi2-classes {
    display: flex;
    flex-flow: row wrap;
} */

.cardio-picture {
    background-image: url("assets/images/running-bike.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    height: 200px;
    width: 200px;
    margin: 0;
    padding: 0;

}

.stretching-picture {
    background-image: url("assets/images/stretching.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    height: 200px;
    width: 200px;
    margin: 0;
    padding: 0;

}

.pilates-picture {
    background-image: url("assets/images/pilates.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    height: 200px;
    width: 200px;
    margin: 0;
    padding: 0;
}

.muscular-pictures {
    background-image: url("assets/images/muscular.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    height: 200px;
    width: 200px;
    margin: 0;
    padding: 0;
}

.yoga-pictures {
    background-image: url("assets/images/yoga.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    height: 200px;
    width: 200px;
    margin: 0;
    padding: 0;
}

.upperbody-picture {
    background-image: url("assets/images/shoulder.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    height: 200px;
    width: 200px;
    margin: 0;
    padding: 0;
}

.lowerbody-picture {
    background-image: url("assets/images/barbell-squat.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    height: 200px;
    width: 200px;
    margin: 0;
    padding: 0;
}

.conditioning-picture {
    background-image: url("assets/images/plyometrics.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    height: 200px;
    width: 200px;
    margin: 0;
    padding: 0;
}

.list-inline-item img:not(:last-child) {
    margin-right: 7.5rem;
    text-align: center;
}

.list-inline-item img {
    padding: 18px;
    font-size: 250%;
}

.col-3 {
    flex: 0 0 auto;
    width: 20%;
    text-align: center;
    margin-left: 70px;
}

.list-inline-item img {
    display: inline-block;
}

*,
::after,
::before {
    box-sizing: border-box;
}

#personaltrainer-j {
    float: left;
    width: 50%;
    margin-top: 50px;

    display: inline-grid;
    padding-bottom: 20px;

}


#personaltrainer-k {
    float: right;
    width: 50%;
    margin-top: 50px;
    display: inline-grid;
    padding-bottom: 20px;
}

.pt-container {
    background-color: rgba(219, 176, 45, 0.349);
    background-image: url("assets/images/treadmill.jpg");
    background-repeat: no-repeat;
    background-position: center center;
}

.pt2-container {
    background-color: rgba(240, 239, 244, 0.474);
}